<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="Pruba" value="Pureba" />
  </appSettings>
  <connectionStrings>
    <add name="ServiciosWeb" connectionString="Data Source=LAPTOP-1CL9534E;Initial Catalog=Vivero;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Seguridad" connectionString="Data Source=LAPTOP-1CL9534E;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <!--Proveedor para el manejo de usuarios-->
    <membership defaultProvider="Seg">
      <providers>
        <add connectionStringName="Seguridad" applicationName="ServiciosWeb"
          minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"
          name="Seg" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <!--Proveedor para el manejo de roles-->
    <roleManager enabled="true" defaultProvider="rol">
      <providers>
        <add connectionStringName="Seguridad" applicationName="ServiciosWeb"
          name="rol" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms name="ServiciosWeb" loginUrl="Login.aspx" timeout="1" />
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ListaPlantas.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>