<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leccion 03</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>
    <div class="m-4">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="../../index.html">Semana 3</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-link" href="../index.html">Inicio</a>
                <a class="nav-link active" href="#">Manejo Condicional</a>
                <a class="nav-link" href="../views/manejoCiclosBasicos.html">Manejo de Ciclos</a>
                <a class="nav-link" href="../views/manejoCiclosAvanzados.html">Manejo de Ciclos Avanzados</a>
              </div>
            </div>
        </nav>
    </div>

    <div class="contenedor">
        
        <form class="formulario">
            <p class="h1">Datos Formulario</p>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="name">Nombre completo</label>
                <div class="col-sm-10">
                    <input id="name" name="name" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="edad">Edad</label>
                <div class="col-sm-10">
                    <input id="edad" name="edad" type="text">
                </div>
            </div>
            <div class="form-group row">
                <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
                <button id="btnCancelar" type="button" class="btn btn-default">Cancelar</button>
            </div>
        </form>

    </div>

    <div class="footer">
        <p>Hecho por Roger Ulate</p>
        <p>Profesor de Bachillerato de Ingenieria en Informatica</p>
        <p>UALCIT</p>
    </div>
    <script src="../js/manejoCondicionales.js"></script>
</body>
</html>