@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Desactivada.</h1>
    <h2 class="text-danger">Esta cuenta ha sido bloqueada momentaneamente, por favor inténtelo más tarde.</h2>
</hgroup>
