
@{
    ViewBag.Title = "UsuarioLanding";
}

<h2>Administrar usuarios</h2>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Sección para crear los usuarios nuevos del sistema.</p>
                <a href="@Url.Action("Create","Usuario")" class="btn btn-success">Crear usuario</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Ver los usuarios creados o actuales.</p>
                <a href="@Url.Action("Index","Usuario")" class="btn btn-info">Ver usuarios</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Para modificar los datos de cualquier usuario del sistema.</p>
                <a href="@Url.Action("Edit","Usuario")" class="btn btn-warning">Editar usuario</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Para cuando necesite borrar alguno de los usuarios.</p>
                <a href="@Url.Action("Delete","Usuario")" class="btn btn-danger">Borrar usuario</a>
            </div>
        </div>
    </div>
</div>
