@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>

<p>Este es el grupo encargado del proyecto final de e-Descargas (Administración)</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active"><h4>Programador #1</h4></li>
                <li class="list-group-item"><strong>Nombre:</strong> Allyson Sandi</li>
                <li class="list-group-item"><strong>Correo:</strong> <a href="mailto:allysonsandi@gmail.com"><strong>allysonsandi@gmail.com</strong></a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active"><h4>Programador #2</h4></li>
                <li class="list-group-item"><strong>Nombre:</strong> Roger Ulate Rivera</li>
                <li class="list-group-item"><strong>Correo:</strong> <a href="mailto:rulater530@ulacit.ed.cr"><strong>rulater530@ulacit.ed.cr</strong></a></li>
            </ul>
        </div>
    </div>
</div>